/* Widget Styles */

/**
 * Featured Folio Widget
 *
 * @see inc/infusion-template-tags.php
 */
.featured-folio {

	padding-bottom: 30px;

	.folio-avatar {
		position: relative;
		margin: -55px auto;
		width: 88px;
		height: 88px;

		.avatar {
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
		}

	}

	.folio-content {
		padding: rem-calc( 75 25 10 25 );
		border-left: solid 1px #dbe1e7;

		h3, p {
			color: #737c85;
			font-size: rem-calc( 21 );
		}

		h3 {
		}

		p {
			font-size: rem-calc( 14 );
			word-spacing: 2px;
		}

	}

	.carousel-overlay {
		height: 100%;
		position: absolute;
		left: 15px;
		right: 15px;
		top: 0px;
		opacity: 0;
		border: solid 5px #63c6ae;
	}

	.featured-folio-item:hover .carousel-overlay {
		opacity: 1;
	}

	.featured-folio-item:hover .folio-avatar .avatar {
		border: solid 5px #63c6ae;
	}

}
/**
 * If contained in sidebar or .small-12, lets make it fullscreen
 */
.sidebar .featured-folio-item,
.small-12.columns > .featured-folio-item { @extend .small-12; }
